sample.py
sample2.py
yolo_tflite_sample.py
yolo_tflite_sample2.py
best_float32.tflite
data.yaml
paddleocr_ch_only.py
*__pycache__/
*api/best_totordataset_far_float32.tflite
*api/best_float32.tflite
*api/best_totordataset_float32.tflite
*api/best_totordatasets_100_v2_float32.tflite
*api/__pycache__/
*api/config/__pycache__/
*api/cvdrawtext/__pycache__/
*api/ppocr_onnx/__pycache__/
*api/ppocr_onnx/ppocr/__pycache__/
*api/ppocr_onnx/ppocr/data/imaug/__pycache__/
*api/ppocr_onnx/ppocr/postprocess/__pycache__/
*api/ppocr_onnx/ppocr/utils/__pycache__/
*api/ppocr_onnx/ppocr/utils/e2e_utils/__pycache__/
*api/yolo_detect.py
*api/yolo_tflite.py
